@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blanco: #FCFCFC;
    --gris: #f0f0f0;
    --negro: #1C1C1C;
    --negro-claro: #2b2b2b;
    --mostaza: #FED766;
    --azul: #009FB7;
}

/* -- Globales -- */

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background-color: var(--blanco);
}

a {
    color: var(--azul);
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0, 15px;
}

p {
    margin: 0;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* -- Cabecera -- */
header {
    background-color: var(--negro);
    min-height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

header div.logo-cabecera {
    font-weight: 800;
    font-size: 40px;
    color: var(--blanco);
    display: flex;
    flex-direction: row;
    width: fit-content;
}

header div.logo-cabecera span {
    color: var(--azul);
}

header div.logo-cabecera .logo--animacion * {
    pointer-events: none;
}

header div.logo-cabecera .logo--animacion__word {
    display: inline-flex;
    height: 50px;
    position: relative;
    overflow: hidden;
}

header div.logo-cabecera .logo--animacion__char-inner {
    display: inline-block;
}

header div.logo-cabecera .logo--animacion__char-inner:after {
    content: attr(data-letter);
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--mostaza);
}

header nav {
    height: 120px;
}

header nav .barra-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    padding: 0;
    margin: 0;
}

.barra-navegacion>li {
    list-style: none;
}

header nav .barra-navegacion .opcion-menu {
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header nav .barra-navegacion .opcion-menu a {
    color: var(--blanco);
}

header nav .barra-navegacion .opcion-menu a:hover {
    color: var(--gris);
}

header .nav-lateral {
    display: flex;
    align-items: center;
    gap: 20px;
}


header .nav-lateral .enlace-busqueda {
    cursor: pointer;
}

.nav-lateral .nav-lateral--carrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--gris);
    border-radius: 5px;
}

.nav-lateral .nav-lateral--carrito svg {
    padding: 3px 5px;
}

.nav-lateral--carrito--num-productos {
    color: var(--negro);
    background-color: var(--blanco);
    height: max-content;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* -- Home - Main -- */

/* -- Home - Introduccion -- */

section.home-introduccion {
    height: 450px;
    background-image: url('./../img/home-imagen-fondo.png');
    background-size: cover;
    background-position: center top;
}

section.home-introduccion h1 {
    font-weight: 900;
    font-size: 42px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    color: var(--blanco);
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

section.home-introduccion h1 span {
    color: var(--azul);
    text-shadow: none;
}

/* -- Home - Contenido -- */

div.home-contenido {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 30px;
}

.home-contenido--principal {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--gris);
}

.home-contenido--principal article+article {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 25px;
}

.home-contenido--principal article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.home-contenido--principal article .informacion {
    grid-column: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-contenido--principal article .informacion .enlace {
    color: var(--blanco);
    background-color: var(--azul);
    border: 1px solid var(--azul);
    font-weight: 300;
    padding: 5px 15px;
    margin: auto 0 0 auto;
    transition: all ease .3s;
    border-radius: 5px;
}

.home-contenido--principal article .informacion .enlace:hover {
    background-color: var(--blanco);
    color: var(--azul);
}

.home-contenido--principal article .informacion h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-contenido--principal article:nth-child(odd) .informacion {
    grid-column: 2 / 4;
}

.home-contenido--principal article img {
    grid-column: 3 / 4;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    align-self: center;
    justify-self: center;
}

.home-contenido--principal article:nth-child(odd) img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.home-contenido--aside h3 {
    font-weight: 800;
    font-size: 24px;
    color: var(--mostaza);
    margin-top: 15px;
    margin-bottom: 15px;
}

.home-contenido--aside h3:nth-child(even) {
    color: var(--azul);
}

.home-contenido--aside .banner-logos {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    gap: 5%;
}

.home-contenido--aside .banner-logos img {
    width: 22%;
    aspect-ratio: 3 / 2;
    object-fit: contain;
    mix-blend-mode: darken;
    transition: transform .3s ease;
    overflow: hidden;
}

.home-contenido--aside .banner-logos img:hover {
    transform: scale(1.2);
}


.producto--contenedor-sm {
    background-color: var(--gris);
    border-radius: 25px 0 25px 0;
    max-width: 300px;
    margin: 0 auto;
    align-self: center;
}

.producto--contenedor-sm h4 {
    text-align: center;
    color: var(--negro);
    font-weight: 700;
    margin: 20px 0;
}

.producto--contenedor-sm img {
    border-radius: 25px 0 0 0;

    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.producto--contenedor-sm div {
    padding-bottom: 20px;
}

.producto--contenedor-sm .enlace-boton {
    color: var(--negro);
    font-weight: 300;
}

.producto--contenedor-sm .enlace-boton:hover {
    color: var(--azul);
}

/* -- Home - Banner -- */

.home-banner {
    background: linear-gradient(138deg, rgba(251, 226, 153, 1) 0%, rgba(246, 206, 86, 1) 100%);
    padding: 50px;
}

.home-banner h2 {
    color: var(--negro);
    font-weight: 800;
    font-size: 42px;
    margin-bottom: 30px;
}

.home-banner .banner--productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}

/* -- Seccion - Main -- */

.fondo-hombre {
    background-image: url('./../img/home-imagen-hombre.jpg');
    background-position: 0 20%;
    background-size: cover;
}

/* -- Carrito - Main -- */

main.main-carrito {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
    max-width: 90%;
    margin: 30px auto;
}

/* -- Carrito - Lista -- */

section.carrito-lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section.carrito-lista .producto {
    display: flex;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.125);
}

section.carrito-lista .producto img {
    max-width: 30%;
    max-height: 200px;
    border-radius: 5px 0 0 5px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

section.carrito-lista .producto .informacion {
    flex: 1;
    font-size: 18px;
    padding: 20px;
}

section.carrito-lista .producto a {
    margin: auto 20px 20px auto;
}

/* -- Carrito - Ticket -- */

aside.carrito-ticket {
    padding: 0px;
    background-color: var(--gris);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.125);
    padding: 30px;
    height: fit-content;
}

aside.carrito-ticket .ticket-productos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside.carrito-ticket .ticket-productos--producto {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

aside.carrito-ticket .ticket-productos--producto .nombre-producto {
    font-size: 18px;
    font-weight: 600;
}

aside.carrito-ticket .ticket-productos--producto span {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
}

aside.carrito-ticket img {
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 40px;
}

aside.carrito-ticket .ticket--precio {
    display: block;
    font-size: 28px;
    font-weight: 700;
    margin-top: 40px;
}

aside.carrito-ticket a.ticket--precio {
    color: var(--azul);
}

/* -- Modal Busqueda -- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-contenido {
    background-color: var(--blanco);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    width: 65%;
    border-radius: 5px;
}

.modal-contenido .cuadro-busqueda {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.modal-contenido .cuadro-busqueda input {
    border-radius: 10px;
    border: 1px solid var(--gris);
    outline: none;
    padding: 10px 15px;
    flex: 1;
    margin-right: 10px;
}

.modal-contenido .lista-productos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.modal-contenido .lista-productos .producto {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.modal-contenido .lista-productos .producto+.producto {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.25)
}
.modal-contenido .lista-productos .producto img {
    max-width: 15%;
}
.modal-contenido .lista-productos .producto .informacion p {
    font-weight: 700;
    font-size: 24px;
}
.modal-contenido .lista-productos .producto .informacion p.precio {
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0;
}
.modal-contenido .lista-productos .producto a {
    margin: auto 0 0 auto;
    color: var(--azul);
    cursor: pointer;
}

/* -- Media Queries -- */

@media (max-width: 1024px) {
    header {
        flex-direction: column;
    }

    header .logo-cabecera {
        margin-top: 20px;
    }

    header .nav-lateral {
        margin-bottom: 25px;
    }

    section.home-introduccion {
        height: 300px;
    }

    div.home-contenido {
        grid-template-columns: 1fr;
    }

    .home-banner .banner--productos {
        grid-template-columns: repeat(2, 1fr);
    }
    .modal-contenido .cuadro-busqueda input {
        width: 40%;
    }
    .modal-contenido .lista-productos .producto {
        flex-direction: column;
    }
    .modal-contenido .lista-productos .producto img {
        max-height: 246px;
        max-width: 60%;
        margin: 0 auto;
    }
    main.main-carrito {
        grid-template-columns: 1fr;
    }

    section.carrito-lista .producto {
        flex-direction: column;
    }
    section.carrito-lista .producto img {
        max-width: 100%;
        height: auto;
        max-height: none;
        object-fit: contain;
        border-radius: 5px 5px 0 0;
    }
}

@media (max-width: 480px) {
    section.home-introduccion h1 {
        font-size: 30px;
    }

    .home-contenido--principal article {
        grid-template-columns: 1fr;
    }

    .home-contenido--principal article .informacion,
    .home-contenido--principal article:nth-child(odd) .informacion {
        grid-column: 1;
    }

    .home-contenido--principal article img {
        grid-column: 1;
        grid-row: 1 / 2;
        margin-bottom: 20px;
        width: 100%;
        aspect-ratio: 1;
        object-fit: contain;
    }

    .home-banner .banner--productos {
        grid-template-columns: auto;
    }
}